@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/typography.scss';

button {
  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0 0 0pt $formControlOutlineWidth $cerulean-blue;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: space(10);
  font-size: pxtorem(20);
  line-height: pxtorem(20);
  background-color: $black;
  color: $white;
  border: 3px solid $black;
  border-radius: 4px;
  box-sizing: border-box;
  transition: box-shadow $formControlTransitionDuration ease-in-out;
  will-change: box-shadow;

  @include for-tablet-landscape-down {
    padding: space(8) space(10);
    font-size: pxtorem(18);
  }

  @include for-phone-only {
    padding: space(6) space(8);
    font-size: pxtorem(16);
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
  }

  &:disabled {
    background-color: $gray;
    border: 2px solid $gray;
    color: $black;
    opacity: 0.75;
  }

  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button__alt {
  background-color: transparent;
  color: $black;
}

.button__light {
  background-color: $white;
  border-color: transparent;
  color: $black;
}

.button__image {
  width: auto;
  max-height: 60px;
  margin-right: space(20);
}

.button__icon {
  margin-left: space(10);
  font-size: pxtorem(20);
}

.button__category {
  padding: space(24);
  background-color: $white;
  color: $black;
  border-color: transparent;
  border-radius: pxtorem(20);
  @include heading-s;
  font-size: 1.3rem;
  text-align: left;

  &:hover {
    border-color: $black;
    box-shadow: none;
  }

  .button__icon {
    margin-left: space(20);
    font-size: pxtorem(40);
  
    @include for-tablet-landscape-down {
      margin-left: space(16);
      font-size: pxtorem(36);
    }

    @include for-phone-only {
      font-size: pxtorem(32);
    }
  }
}

.button__image {
  max-width: 90px;
  height: auto;
}

.button--small {
  padding: space(8);  
}

.button__excerpt {
  flex-wrap: wrap;
  display: unset;
  .button__excerpt__title {
    text-decoration: underline;
  }
  .button__excerpt__text {
    @include body-m;
    margin-top: 1rem;
  }
}

.button__excerpt--peach {
  a.button__excerpt {
    background: $peach;
    padding: 1rem;
  }
}