@import './variables.scss';
@import './mixins.scss';
@import './breakpoints.scss';
@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Outfit:wght@400;700&display=swap');

$font-primary: 'Outfit', sans-serif;
$font-heading: 'Montserrat', sans-serif;

$font-base: pxtorem(16);
$font-base-mobile: pxtorem(14);

$font-heading-xxl: pxtorem(48);
$font-heading-mobile-xxl: pxtorem(32);

$font-heading-xl: pxtorem(42);
$font-heading-mobile-xl: pxtorem(28);

$font-heading-l: pxtorem(28);
$font-heading-mobile-l: pxtorem(22);

$font-heading-m: pxtorem(28);
$font-heading-mobile-m: pxtorem(22);

$font-heading-s: pxtorem(24);
$font-heading-mobile-s: pxtorem(20);

$font-heading-xs: pxtorem(20);
$font-heading-mobile-xs: pxtorem(18);

$font-body-xl: pxtorem(34);
$font-body-mobile-xl: pxtorem(22);

$font-body-l: pxtorem(24);
$font-body-mobile-l: pxtorem(20);

$font-body-m: pxtorem(18);
$font-body-mobile-m: pxtorem(16);

$font-body-regular: $font-base;
$font-body-mobile-regular: $font-base-mobile;

$font-body-s: pxtorem(14);
$font-body-mobile-s: pxtorem(12);

$font-breadcrumb: pxtorem(12);
$font-breadcrumb-mobile: pxtorem(10);

$font-link-medium: pxtorem(20);

/* Headings */
@mixin heading-xxl {
  font-size: $font-heading-xxl;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 3.5rem;

  @include for-phone-only {
    font-size: $font-heading-mobile-xxl;
    line-height: 2.5rem;
  }
}

@mixin heading-xl {
  font-size: $font-heading-xl;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 3rem;

  @include for-phone-only {
    font-size: $font-heading-mobile-xl;
    line-height: 2.25rem;
  }
}

@mixin heading-l {
  font-size: $font-heading-l;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 2.5rem;

  @include for-phone-only {
    font-size: $font-heading-mobile-l;
    line-height: 2rem;
  }
}

@mixin heading-m {
  font-size: $font-heading-m;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 2rem;

  @include for-phone-only {
    font-size: $font-heading-mobile-m;
    line-height: 1.75rem;
  }
}

@mixin heading-s {
  font-size: $font-heading-s;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.22;

  @include for-phone-only {
    font-size: $font-heading-mobile-s;
  }
}

@mixin heading-xs {
  font-size: $font-heading-xs;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.22;

  @include for-phone-only {
    font-size: $font-heading-mobile-xs;
  }
}

/* Font mixins */
@mixin body-xl {
  font-size: $font-body-xl;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 2.625rem;

  @include for-phone-only {
    font-size: $font-body-mobile-xl;
    line-height: 2rem;
  }
}

@mixin body-l {
  font-size: $font-body-l;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 2.25rem;

  @include for-phone-only {
    font-size: $font-body-mobile-l;
    line-height: 1.75rem;
  }
}

@mixin body-m {
  font-size: $font-body-m;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5rem;

  @include for-phone-only {
    font-size: $font-body-mobile-m;
    line-height: 1.25rem;
  }
}

@mixin body-regular {
  font-size: $font-body-regular;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5rem;

  @include for-phone-only {
    font-size: $font-body-mobile-regular;
    line-height: 1.25rem;
  }
}
@mixin body-s {
  font-size: $font-body-s;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.25rem;

  @include for-phone-only {
    font-size: $font-body-mobile-s;
  }
}

@mixin link-header {
  font-size: $font-heading-xs;
  font-family: $font-heading;
  font-weight: 600;

  @include for-tablet-landscape-down {
    font-size: $font-heading-mobile-xs;
  }
}

@mixin link-large {
  font-size: $font-heading-xs;
  font-family: $font-primary;
  font-weight: 700;

  @include for-phone-only {
    font-size: $font-heading-mobile-xs;
  }
}

@mixin link-medium {
  font-size: $font-link-medium;
  font-family: $font-primary;
  font-weight: 700;
}

@mixin breadcrumb {
  font-size: $font-breadcrumb;
  font-family: $font-primary;
  font-weight: 400;

  @include for-phone-only {
    font-size: $font-breadcrumb-mobile;
  }
}

/* Resets */
html{ 
  font-size: 16px;/*for using REM units*/
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #000;
}

/* Type styles */
h1,
.h1 {
  @include heading-xxl;
}

h2,
.h2 {
  @include heading-l;
}

h3,
.h3 {
  @include heading-m;
}

h4,
.h4 {
  @include heading-s;
}

h5,
.h5 {
  @include heading-xs;
}

h6,
a,
button,
p {
  @include body-regular;
}

a {
  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0 0 0pt $formControlOutlineWidth $cerulean-blue;
  }
}

.body {
  @include body-regular;

  &--xl {
    @include body-xl;
  }

  &--l {
    @include body-l;
  }

  &--m {
    @include body-m;
  }

  &--s {
    @include body-regular;
  }
}

blockquote {
  margin: 0;
}

.markdown {
  display: flex;
  flex-direction: column;

  > * {
    display: block;
    margin-bottom: space(16);
  }

  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4 {
    margin-top: space(20);

    &:first-child {
      margin-top: 0;
    }
  }

  li {
    display: flex;

    &::before {
      content: "\00B7";
      margin-top: space(8);
      margin-right: space(20);
      font-size: pxtorem(48);
    }
  }
}

.landing-page__content.markdown p:nth-child(1),
.information-page__content.markdown p:nth-child(2):not(ul li p)  {
  border-left: 8px solid #000;
  padding: 0.5rem 0 0.5rem 1.2rem;
  font-weight: 700;
  font-size: pxtorem(28);
  line-height: pxtorem(40);
  margin-bottom: 3rem;
  @include for-phone-only {
    @include body-l;
    margin-bottom: 2rem;
    font-weight: 700;
  }
}
