@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.cms {
  color: $black;
  font-family: $font-primary;
}

.cms__header {
  margin-bottom: space(40);

  @include for-tablet-portrait-down {
    margin-bottom: space(24);
  }
}

.cms__content {
  padding-bottom: space(80);
  border-bottom: 2px solid $black;

  @include for-tablet-portrait-down {
    padding-bottom: space(56);
  }

  p {
    @include body-l;
    line-height: 2.25rem;
    margin-bottom: space(16);
  }

  a {
    @include body-l;
    line-height: 2.25rem;
  }

  li p {
    display: inline;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: space(16);
  }

  ul {
    margin-left: space(24);
    margin-bottom: space(24);
  }


  > div {
    width: 100% !important;
  }
}

.cms--contact-card {
  position: relative;
  padding: space(32) space(24);
  background-color: $casablanca;
  border-radius: 20px;
  text-overflow: ellipsis;
  margin-bottom: 2.5rem;
  &--row {
    margin-top: space(24);
  }

  &--socials {
    margin-top: space(16);

    .service__social-icon {
      margin-left: 0;
      margin-right: space(16);
    }
  }

  &--email {
    display: block;
  }

  h3 {
    display: flex;
    align-items: center;

    svg {
      font-size: pxtorem(16);
      margin-right: space(12);
    }
  }

  p {
    @include body-regular;
  }

  a {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}